/* 大枠要素 */
html{
    height: 100%;
    background-color: #fff;
  }

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
  height: 100%;
  background-color: #ffffff;
}

/* 入力フォーム */
.player {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.player input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #111111;
	/* border: 1px solid #0e0d0d2a; */
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 10px;
}
.tagu input[type='text']:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/* ボタン */
.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 100%;
  font-weight: bolder;
  color: #0c0c0b;
  border: dashed 1px #a58f14;
  background: #ffd700;
  border-radius: 3px;
  transition: .4s;
  margin: 0px 78%;

}

.button:hover {
  background: #f5e58d;
  color: #FFF;
}

/* エラーメッセージ */
span.error_m {
	font-size: 15px;
	font-weight: normal;
	color: #FF4040;
	display: block;
  margin: 0;
}